{
  "DISCORD_TOKEN": "TOKEN_GOES_HERE",
  "ERROR_LOGS_CHANNEL": "ERROR_LOGS_CHANNEL_ID_GOES_HERE",
  "SPOT": true,
  "COMMANDS_STARTUP_COGS": [],
  "SLASH_COMMANDS_STARTUP_COGS": [
    "fun",
    "general",
    "help",
    "mods",
    "owner",
    "techpoint"
  ],
  "OWNERS": [],
  "MODERATOR_ROLE": "moderator",
  "COMANAGERS_IDS": [],
  "GITHUB_TOKEN": "",
  "REPOSITORY_NAME": "",
  "BRANCH_NAME": "",
  "REPOSITORY_OWNER": "",
  "TECHPOINT_CHAT_CHANNEL_ID": ""
}
